.suspectNoteForm {
  margin: 0px auto 10px auto;
  text-align: center;
}

.noteContainer {
  display: flex;
  flex-wrap: wrap;
}

.noteCard {
  margin: 10px;
  flex-basis: 23%;
}

.noteHeader {
  margin: 9px 0px;
}

.noteText {
  margin: 9px 0px;
}

.noteDate {
  margin: 9px 0px;
}